.q-avatar__content {
    img {
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
    }
}

.q-img__image {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}