[class*="fs-"],
[class*="s-"] {
    &.q-btn--round {
        min-width: auto;
        min-height: auto;
    }
}

.q-btn-group {
    height: fit-content;

    button {
        font-size: inherit;
        text-transform: none;
    }

    .q-btn.q-btn-item {
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;

        .q-btn__content {
            flex-grow: 0;
        }
    }
}

.q-btn__content {
    >.q-icon {
        margin-right: 20px;
        font-size: 24px !important;
    }
}

.q-btn.no-hover {
    .q-focus-helper {
        display: none;
    }
}

.btn-outline-minimal {
    &.q-btn--outline {
        &::before {
            border-width: 2px;
            opacity: 0.4 !important;
        }

        &:hover {
            &::before {
                opacity: 1 !important;
            }
        }

        &[disabled] {

            &,
            &:hover &:focus,
            &:active {
                &::before {
                    opacity: 0.25 !important;
                }

                opacity: 0.4 !important;
            }

            .q-focus-helper {
                display: none;
            }

            .q-ripple {
                display: none;
            }
        }
    }
}