.q-toggle__track {
    height: 0.8em;
    padding: 0;
    width: 1.8em;
    margin-left: 0px;
    box-shadow: 0px 0px 20px #14142E;
    backdrop-filter: blur(60px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
}

.q-toggle__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary !important;
    width: 2em;
    height: 1em;

    &.q-toggle__inner--truthy .q-toggle__thumb {
        left: 1em !important;
    }
}

.q-toggle__thumb {
    color: white;
    left: 0.5em;
}

.settings .q-toggle__inner .q-toggle__track {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0.15em;
        top: 0.2em;
        width: 0.4em;
        height: 0.4em;
        z-index: 1;
        display: block;
        background-image: url("src/assets/images/icons/moon.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}