@mixin menu-item-active-hover {
    .absolute {
        display: block;
    }
    opacity: 1;
}

.menu-item {
    color: white;
    size: 16px;

    .absolute {
        display: none;
        left: 200%;
    }

    > a {
        opacity: 0.2;
    }

    .router-link-active {
        @include menu-item-active-hover();
    }

    &:hover > a {
        @include menu-item-active-hover();
    }

    &.active {
        font-weight: bold;
    }
}
