@mixin menu-item-active-hover {
    .absolute {
        display: block;
    }
}

.menu-item {
    color: white;
    size: 16px;

    .absolute {
        display: none;
        left: 280%;
    }

    >a {
        opacity: 0.2;
    }

    .router-link-active {
        @include menu-item-active-hover();
        opacity: 1;

        button.q-btn.q-btn-item.text-white {
            color: $primary !important;
            font-weight: bold;
        }
    }

    &:hover>a {
        @include menu-item-active-hover();
    }
}

.q-menu {
    border-radius: 20px;
    min-width: 130px !important;
    padding: 24px;
    padding-bottom: 14px;
    padding-top: 14px;

    .q-item {
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        opacity: 0.5 !important;
        min-height: 0;

        &:hover,
        &:active,
        &:focus,
        &.q-manual-focusable--focused,
        &.q-item--active {
            opacity: 1 !important;
            color: white;

            .q-focus-helper {

                &,
                &::after,
                &::before {
                    background: transparent !important;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .menu-item {
        .absolute {
            display: block !important;
        }
    }
}