@mixin menu-item-active-hover {
    .absolute {
        display: block;
    }
    opacity: 1;
}

.menu-item {
    color: white;
    size: 16px;

    .absolute {
        display: none;
        left: 280%;
    }

    > a {
        opacity: 0.2;
    }

    .router-link-active {
        @include menu-item-active-hover();

        button.q-btn.q-btn-item.text-white {
            color: $primary !important;
            font-weight: bold;
        }
    }

    &:hover > a {
        @include menu-item-active-hover();
    }
}

.q-menu {
    .q-item {
        opacity: 0.5 !important;
        &:hover {
            opacity: 1 !important;
            .q-focus-helper {
                &,
                &::after,
                &::before {
                    background: transparent !important;
                }
            }
        }
    }
}
