.q-dialog__backdrop {
    background: linear-gradient(304.1deg, rgba(17, 8, 44, 0.5) 27.13%, rgba(21, 10, 52, 0) 64.84%), #220D32;
    opacity: 0.7;
}

.q-dialog__inner > div {
    max-width: 508px;
}