@use "sass:color";

::-webkit-scrollbar {
    width: 9px;
    background: transparent;
    z-index: 12;
    overflow: visible;
    margin-right: -10px;
}

::-webkit-scrollbar-thumb {
    background: color.adjust(#FFFFFF, $alpha:  -0.95);
    box-shadow: 0px 0px 20px rgba(20, 20, 46, 0.15);
    backdrop-filter: blur(60px);
    border-radius: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: color.adjust(#FFFFFF, $alpha:  -0.7);
}

.scroll-container {
    overflow: auto;

    > * {
        padding-right: 20px;
    }
}