$table-padding: 30px;
$row-padding-y: 20px;
.q-table__container {
    color: white;
    background-color: transparent;
    border: none;
    box-shadow: none;

    .q-table {
        border-collapse: separate !important;
        flex-direction: column;
        justify-content: space-between;
        padding: $table-padding;

        thead {
            color: $dark;
            margin-left: -100px;

            th {
                padding-bottom: $table-padding * 2;
                opacity: 0.5;

                &.sorted {
                    color: white;
                    opacity: 1;
                }
            }
        }
    
        tbody {
            box-shadow: 0px 0px 20px rgba(20, 20, 46, 0.15);
            backdrop-filter: blur(60px);
            position: relative;

            &::before {
                content: "";
                background: rgba(255, 255, 255, 0.05);
                position: absolute;
                left: 0;
                top: 0;
                width: calc(100% + 2 * #{$table-padding});
                height: calc(100% + 2 * #{$table-padding});
                border-radius: 30px;
                margin-left: -$table-padding;
                margin-top: -$table-padding;
            }

            tr {
                position: relative;

                &:hover::after {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    left: 0;
                    top: 0;
                    width: calc(100% + #{$table-padding});
                    height: 100%;
                    background-color: $accent;
                    box-shadow: 0px 0px 20px rgba(20, 20, 46, 0.15);
                    backdrop-filter: blur(60px);                    
                    border-radius: 30px;
                    margin-left: -$table-padding/2;
                }

                td:first-child,
                td:nth-child(3) {
                    color: $dark;
                    opacity: 0.5;
                }
    
                td {
                    border-bottom: 0;
                    padding-top: $row-padding-y;
                    padding-bottom: $row-padding-y;
                    position: relative;
                    z-index: 1;

                    &::before {
                        content: '';
                    }
                }
            }
        }
    }

    .q-table__bottom {
        display: none;
    }

    .transactions-table-head-row {
        position: relative;
        font-size: 14px;
        line-height: 18px;
    
        .q-table__sort-icon {
            font-size: 0 !important;
            width: 10px !important;
            height: 5px !important;
            opacity: 0;
            background: url('@/assets/images/icons/sortarrow.svg') no-repeat center;
            background-size: contain;
        }
    
        &.sorted,
        &::hover {
            .q-table__sort-icon {
                opacity: 1;
            }
        }
    }
}