.q-tooltip--style {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(34, 13, 51, 0.05);
    border-radius: 10px;
    padding: 18px 20px 14px 20px;
    color: $dark-lighter;
    font-size: 10px;
    line-height: 13px;
    max-width: 150px;
}