.\!transition-none {
  transition: none !important;
}

.\!transition-none-recursive {

  &,
  * {
    transition: none !important;
  }
}

.quasar-transition-duration-0 {
  --q-transition-duration: 0ms;
}

.transition-all {
  transition: all 250ms ease-in-out;
}