.text-primary-dark {
    color: #220D32 !important;
}
.bg-primary-dark {
    background: #220D32 !important;
}

.bg-rounded-translucent {
    background: rgba(112, 110, 124, 0.15);
    box-shadow: 0px 0px 20px #14142E;
    backdrop-filter: blur(60px);
    border-radius: 30px;
}

.opacity-40 {
    opacity: 0.4;
}