.container {
    --offset-left: 30px;
    --offset-right: 30px;
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.min-width {
    width: fit-content;
}

.w-fit {
    width: fit-content;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.bottom-0 {
    bottom: 0;
}

.min-h-fit {
    min-height: fit-content;
}

.min-h-window-height {
    min-height: 100vh;
}

.rounded {
    border-radius: 99999999px;
}

@for $i from 0 through 20 {
    $s: $i*3;
    .s-#{$i*2} {
        width: #{$s}px;
        height: #{$s}px;
    }
    .min-s-#{$s} {
        min-width: #{$s}px;
        min-height: #{$s}px;
    }
    
    $s: $i*2;
    @if(($s % 3) != 0) {
        .s-#{$s} {
            width: #{$s}px;
            height: #{$s}px;
        }
        .min-s-#{$s} {
            min-width: #{$s}px;
            min-height: #{$s}px;
        }
    }
}

@media screen and (min-height: 500px) {
    .vertical-sm-absolute {
        position: absolute;
    }

    .vertica-sm-window-height {
        height: 100vh;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .absolute-sm {
        position: absolute;
    }
}