@use "sass:color";

body.body--light {
  color: $secondary;

  #app {
    color: $secondary;
  }

  &.main-page-background {
    background: linear-gradient(338.9deg, rgba(17, 8, 44, 0.1) -14.43%, rgba(21, 10, 52, 0) 70.51%), #F0EDF2 !important;
  }

  .pagination-btn {
    background: transparentize($color: $secondary, $amount: 0.9)
  }

  .q-pagination {
    .q-btn.bg-primary-dark {
      background: transparentize($color: $secondary, $amount: 0.9) !important
    }
  }

  .\!text-white,
  .text-white {
    color: $secondary !important;
  }

  .hover\:text-white:hover {
    color: $secondary !important;
  }

  .\!bg-white-10 {
    background: $white;
  }

  .q-tab:not(.border).q-tab--active {
    color: unset !important;

    .q-tab__label {
      @include text-gradient();
    }
  }

  .q-tab-panels {
    position: relative;
    background: none;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: #FFFFFF;
      opacity: 0.5;
      backdrop-filter: blur(60px);
      border-radius: 30px;
      z-index: -1;
    }
  }

  .q-table__container {
    color: $secondary;

    .q-table {
      thead {
        th {
          color: $secondary;

          &.sorted {
            color: $secondary-300;
          }
        }
      }

      tbody {
        &::before {
          box-shadow: none;
          background: #FFFFFF;
          opacity: 0.5;
          backdrop-filter: blur(60px);
          border-radius: 30px;
        }

        tr {
          &:hover {
            td {
              background-color: $white;
              box-shadow: 0px 0px 15px rgba(20, 20, 46, 0.04);
            }
          }
        }
      }
    }

    .transactions-table-head-row {
      .q-table__sort-icon {
        background-image: url("@/assets/images/icons/sortarrow_light.svg");
      }
    }

    &.alternative {
      .q-table {
        tbody {
          backdrop-filter: unset;

          tr {
            &:hover {
              td {
                background-color: transparentize($color: $white, $amount: 0.5);
              }
            }

            td {
              background-color: $white;
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .light\: {
    &text-weight-medium {
      font-weight: 500;
    }

    &text-white {
      color: #FFFFFF !important;
    }
    
    &border-bottom-secondary-10 {
        border-bottom: 1px solid transparentize($color: $secondary, $amount: 0.9);
    }

    &bg-primary-dark-500-5 {
      background: transparentize($color: $primary-dark-500, $amount: 0.95) !important;
    }

    &text-secondary-320 {
      color: $secondary-320 !important;
    }

    &border-secondary-350 {
      border-color: $secondary-350 !important;
    }

    &border-white {
      border: 2px solid $white;
    }

    &bg-secondary-320 {
      background: $secondary-320 !important;
    }

    &bg-secondary-opacity-10 {
      background: transparentize($color: $secondary, $amount: 0.9) !important;
    }

    &bg-gray-light {
      background: $gray-light !important;
    }

    &border-primary {
      border-color: $primary !important;
    }

    &bg-none {
      background: none !important;
    }

    &border-none {
      border: none !important;
    }

    &text-primary-darker {
      color: $primary-darker !important;
    }

    &text-primary-darker-half {
      color: $primary-darker-half !important;
    }

    &text-primary {
      color: $primary;
    }

    &bg-primary {
      background-color: $primary !important;
    }

    &bg-gray-800-opacity-50 {
      background: transparentize($color: $gray-800, $amount: 0.5) !important;
    }

    &border-primary {
      border-color: $primary !important;
    }

    &border-gray-700 {
      border-color: $gray-700 !important;
    }

    &text-gradient {
      @include text-gradient();
    }

    &text-primary-complementary {
      color: $primary-complementary;
    }

    &bg-primary-complementary {
      background-color: $primary-complementary !important;
    }

    &border-primary-complementary {
      border-color: $primary-complementary;
    }

    &text-secondry-390 {
      color: $secondary-390;
    }

    &text-secondary {
      color: $secondary !important;
    }

    &text-dark {
      color: $dark;
    }

    &shadow-none {
      box-shadow: none !important;
    }

    &shadow-10 {
      box-shadow: 0px 0px 20px transparentize($color: $alternative, $amount: 0.9) !important;
    }

    &inner\:shadow-none {

      .q-toggle__inner,
      .q-toggle__track {
        box-shadow: none !important;
      }
    }

    &opacity- {
      &5 {
        opacity: 0.05;
      }

      &20 {
        opacity: 0.2;
      }

      &50 {
        opacity: 0.5;
      }

      &90 {
        opacity: 0.9;
      }

      &100 {
        opacity: 1;
      }
    }

    &bg-white-780 {
      background-color: $white-780 !important;
    }

    &bg-white-800 {
      background-color: $white-800 !important;
    }

    &bg-white {
      background-color: white !important;
    }

    &bg-white\/ {
      &50 {
        background: rgba(255, 255, 255, 0.5) !important;
      }

      &80 {
        background: rgba(255, 255, 255, 0.8) !important;
      }

      &90 {
        background: rgba(255, 255, 255, 0.9) !important;
      }
    }

    &before\: {
      &fill {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      &border-2::before {
        border-width: 2px;
      }

      &shadow-none::before {
        box-shadow: none;
      }

      &bg-dark-light::before {
        background: $dark-light !important;
      }

      &opacity-5::before {
        opacity: 0.05;
      }
    }

    &group:hover {
      .light\:group-hover\: {
        &text-primary {
          color: $primary;
        }
      }
    }

    &hover\: {
      &text-primary:hover {
        color: $primary;
      }

      &helper-white:hover {
        .q-focus-helper {
          background: #FFFFFF;
          z-index: -1;
          opacity: 0.8;
        }
      }
    }

    &shadow-none {
      box-shadow: none;
    }

    &bg-gradient {
      background: linear-gradient(176deg, $primary-complementary 21.78%, $primary 79.22%) !important;
      border-radius: 30px;
    }

    &border-gradient-primary::before {
      background: linear-gradient(to right, $primary-complementary, $primary) !important;
      border-radius: 20px;
    }

    &text-gray-600 {
      color: $gray-600 !important;
    }
  }

  .bg-rounded-translucent {
    background: #FFFFFF;
    backdrop-filter: blur(60px);
    box-shadow: none;
  }

  .separator {
    opacity: 0.2;
    border: 1px solid #3A294F;
  }

  .q-menu {
    background: white;

    &.alternative {
      box-shadow: 0px 0px 20px rgb(23 8 33 / 10%);
    }

    .q-item:hover {
      color: $secondary;
    }
  }

  .work-in-progress {
    >div {
      p {
        color: $secondary-390;
      }

      &::before {
        background: white;
      }
    }
  }

  .text-light\:white {
    color: white !important;
  }

  .text-light\:gray-600 {
    color: $gray-600 !important;
  }

  // .shadow-20 {
  //   box-shadow: 0px 0px 15px rgba(20, 20, 46, 0.04);
  // }

  .q-linear-progress__track {
    background-color: white !important;
  }

  .main-page-background-helper {
    background: $gray-800;
    filter: blur(30px);
    backdrop-filter: blur(100px);
  }

  .q-checkbox__inner {
    color: #000000;
    opacity: 0.2;
  }

  * {
    scrollbar-color: transparent color.adjust(#000000, $alpha: -0.95);
  }

  ::-webkit-scrollbar-thumb {
    background-color: color.adjust(#000000, $alpha: -0.95);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust(#000000, $alpha: -0.7);
  }

  .q-menu {
    .q-item {

      &:hover,
      &:active,
      &:focus,
      &.q-manual-focusable--focused,
      &.q-item--active {
        color: $secondary;
      }
    }
  }
}


.bg-white-custom {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}