@use "sass:map";

$container: 1680px;
$container-center: 508px;

$primary-dark: #220D32;
$dark-background: #1F0C32;
$dark-light: #301C40;
$dark-lighter: #322142;

$custom-sizes: ();

@for $i from 0 through 20 {
    $s: $i*2;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
    $s: $i*3;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
}