@use "sass:map";

$container: 1680px;
$container-center: 508px;

$primary-darker: #1B0B30;
$primary-darker-half: transparentize($primary-darker, 0.5);
$primary-dark-700 : #261639;
$primary-dark-600: #24142E;
$primary-dark: #220D32;
$primary-light: #6D547A;
$alternative: #14142E;
$secondary-390: #413156;
$secondary-350: #463659;
$secondary-320: #49395C;
$secondary-300: #4B3B5E;
$dark-background: #1F0C32;
$dark-light: #301C40;
$dark-lighter: #322142;
$gray-light: #E9E6EC;
$gray-600: #B0A9B8;
$gray-700: #C0BAC6;
$white-780: #ECE9EE;
$white-800: #F7F5F8;
$white: #FFFFFF;
$notification-background: #3C2A4A;
$notification-background-light: $white-800;
$thumbSize: 8px;
$padding: 11px;
$scrollbarSize: $padding * 2+$thumbSize;

@mixin background-gradient() {
    background: linear-gradient(304.1deg, rgba(17, 8, 44, 0.5) 27.13%, rgba(21, 10, 52, 0) 64.84%), #220D32 !important;
}

@mixin text-gradient() {
    background: linear-gradient(147.07deg, #9C589C 21.78%, #FF005C 79.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

$custom-sizes: ();

@for $i from 0 through 50 {
    $s: $i;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
    $s: $i*2;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
    $s: $i*3;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
}