@use "sass:map";

$container: 1680px;
$container-center: 508px;

$primary-darker: #1B0B30;
$primary-dark-700 : #261639;
$primary-dark: #220D32;
$primary-light: #6D547A;
$dark-background: #1F0C32;
$dark-light: #301C40;
$dark-lighter: #322142;
$notification-background: rgba(122, 110, 124, 0.15);

@mixin background-gradient() {
    background: linear-gradient(304.1deg, rgba(17, 8, 44, 0.5) 27.13%, rgba(21, 10, 52, 0) 64.84%), #220D32;
}

$custom-sizes: ();

@for $i from 0 through 50 {
    $s: $i;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
    $s: $i*2;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
    $s: $i*3;
    $custom-sizes: map.set($custom-sizes, $s, $s * 1px);
}